{% extends 'school/teacherbase.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Attendance of class: {{class1}} and date: {{date}}</h6>
      </div>
      
      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Student Roll</th>
            <th>Present/Absent</th>
          </tr>
        </thead>
        {% comment %} {% for attendance,students in mylist %} {% endcomment %}
        {% for s in students %}
        <tr>
          <td>{{s.user.first_name}}</td>
          <td>{{s.roll}}</td>
          {% for a in attendance %}
          <td>{{a.present_status}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
